@import "academic-custom";

ul.data-pairs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}

.head-font {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.justify-center {
  display: flex;
  justify-content: center;
}

ul.section-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}