{{ $author_name := index .person.authors 0 }}

{{ $datafolder := "/data/teaching/courses" }}

{{ $semesters := getJSON (printf "%s/semesters.json" $datafolder) }}
{{ $sem := index $semesters 0 }}
{{ $courses := getJSON (printf "%s/%s.json" $datafolder $sem) }}
{{ $title := "Teaching" }}
{{ $author_name := index .person.authors 0 }}

{{ $teaching_rows := slice }}
{{ range $row := $courses.lectures_exercises }}
{{ if in $row.authors $author_name }}
{{ $teaching_rows = $teaching_rows | append $row }}
{{ end }}
{{ end }}
{{ range $row := $courses.seminars_projects }}
{{ if in $row.authors $author_name }}
{{ $teaching_rows = $teaching_rows | append $row }}
{{ end }}
{{ end }}
{{ range $row := $courses.other }}
{{ if in $row.authors $author_name }}
{{ $teaching_rows = $teaching_rows | append $row }}
{{ end }}
{{ end }}

{{ $items := where site.RegularPages "Type" "project" }}

{{ $project_rows := slice }}
{{ range $row := $items }}
{{ $authors := apply $row.Params.authors "urlize" "." }}
{{ if in $authors $author_name }}
{{ $project_rows = $project_rows | append $row }}
{{ if in $row.Params.tags "Ongoing" }}
{{ end }}
{{ end }}
{{ end }}

{{ with .context.root.Site.GetPage "/publication" }}
{{ $publication_rows := slice }}
{{ range $row := .Pages }}
{{ $authors := apply $row.Params.authors "urlize" "." }}
{{ if in $authors $author_name }}
{{ $publication_rows = $publication_rows | append $row }}
{{ end }}
{{ end }}

{{ if or (or (gt (len $teaching_rows) 0) (gt (len $project_rows) 0)) (gt (len $publication_rows) 0) }}
<ul class="section-links">
    {{ if gt (len $teaching_rows) 0 }}
    <li id="link-teaching"><a href="#teaching">Teaching</a></li>
    {{ end }}

    {{ if gt (len $project_rows) 0 }}
    <li id="link-projects"><a href="#projects">Projects</a></li>
    {{ end }}


    {{ if gt (len $publication_rows) 0 }}
    <li id="link-publications"><a href="#publications">Publications</a></li>
    {{ end }}
</ul>
{{ end }}
{{ end }}