{{ $ := .context.root }}
{{ $page := .context.page }}
{{ $datafolder := "/data/teaching/courses" }}

{{ $semesters := getJSON (printf "%s/semesters.json" $datafolder) }}
{{ $sem := index $semesters 0 }}
{{ $courses := getJSON (printf "%s/%s.json" $datafolder $sem) }}
{{ $title := "Teaching" }}
{{ $author_name := index .person.authors 0 }}

{{ $rows := slice }}
{{ range $row := $courses.lectures_exercises }}
{{ if in $row.authors $author_name }}
{{ $rows = $rows | append $row }}
{{ end }}
{{ end }}
{{ range $row := $courses.seminars_projects }}
{{ if in $row.authors $author_name }}
{{ $rows = $rows | append $row }}
{{ end }}
{{ end }}
{{ range $row := $courses.other }}
{{ if in $row.authors $author_name }}
{{ $rows = $rows | append $row }}
{{ end }}
{{ end }}

{{ if gt (len $rows) 0 }}
<div class="row col-lg-12 courses-widget">
    <div class="center-text mb-2">
        <h2 id="teaching">{{ $title }}</h2>
    </div>
    <div class="full-width">
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Lecturers</th>
                </tr>
            </thead>
            <tbody>
                {{ range $row := $rows }}
                    {{ partial "course_table_row" $row }}
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}